archive/ 
data/ 
*.csv 
*.zip 
artifacts/ 
*.npz 
*.pkl 
.venv/ 
.venv*/ 
.conda/ 
__pycache__/ 
*.pyc 
.vscode/ 
archive/ 
data/ 
*.csv 
*.zip 
artifacts/ 
*.npz 
*.pkl 
.venv/ 
.venv*/ 
.conda/ 
__pycache__/ 
*.pyc 
.vscode/
archive/ 
data/ 
*.csv 
*.zip 
artifacts/ 
*.npz 
*.pkl 
.venv/ 
.venv*/ 
.conda/ 
__pycache__/ 
*.pyc 
.vscode/ 
